.square{
    background-color:white;
    padding:0;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin-top: -1px;
    font-size: 30px;
    font-weight: bold;
}
.square:focus{
    outline:none
}
.square:disabled{
    color:black
}

.ticBoard{
    display: grid;
    grid-template-columns: repeat(3, 49px);
    margin-left: auto;
    margin-right: auto;
    width: 147px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.playerInfo{
    font:2rem;
    color:blue;
    margin:5px
}
.title{
    color:darkblue;
    font: 3em normal;
    margin-bottom: 5px;
    text-align: center;
}
.secondTitle{
    font: 1.5em italic; 
    text-align: center;
    margin-bottom: 0px;
} 
header{
    background-color: rgb(58, 203, 240)
} 
.nav-ul{
    display: flex;
    background-color: rgb(30, 203, 247);
    margin-top: 0px;
    height: 40px;
    line-height:40px;
}
.nav-li{
    flex-grow:1;
    /* vertical-align: ; */
} 
.centerBoard{
    margin-left: auto;
    margin-right: auto;
    width:200px;
    text-align: center;
}
